  /*==============================FONTS===================*/
  @import url('https://fonts.googleapis.com/css?family=Montserrat|Muli');
  @import url('https://fonts.googleapis.com/css?family=Berkshire+Swash|Lobster');
  $cover :rgba(213, 183, 212, 0.6);
$dark-purple :rgb(132, 119, 201);
$letter :#ffffff;
$color-logos :rgb(59, 56, 78);
$portada :url('img/la.png');
$photo :url('img/foto.jpg');
$imgSkill:url('img/skills.jpg');
$imgContact :url('img/contac.jpg');

body{
    margin: 0 auto;
    overflow-x: hidden;
  }
section h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    color: $color-logos;
    margin-bottom: 20px;
}
section p {
  font-family: 'Muli', sans-serif;
  font-size: 1.5em;
  color: $color-logos;
  text-align: center;
}
  /*===============Portada=============================*/
  .home{
      background-image :$portada;
      //filter: grayscale(1);
      background-position: center;
      background-size: cover;
      width: 100%;
      height: 100vh;
      display: flex;  
  }
  
  .cont-name{
    .name{
      position:absolute;
      top : 10%;
      h2{
        font-family: 'Berkshire Swash', cursive;
        font-size: 6em;
        letter-spacing: 2px;
      }
      p{
        font-weight: bolder;
      }
    }
  }

  hr{
    //margin-top: 20px;
    //margin-bottom: 20px;
    border: 0;
    border-top: 1px solid ;
  }
  .cont-btn{
    position: absolute;
    bottom: 10%;
    .btn-direct{
      font-family: 'Muli', sans-serif;
      background-color: rgb(110, 207, 154);
      color: $color-logos;
      height: 10vh;
      font-size: 2em;
      font-weight: bolder;
      border: 1px solid $color-logos;
    }
  }
  .navbar {
    position: absolute;
    background-color: transparent;
    background: transparent;
    border-color: transparent;
    li {
      color : rgb(52, 73, 94);
       font-weight: 900;
    
    }
  }

  .color{
    width: 115%;
    height: 100vh;
    background-color: $cover;
  }


  
  /*=======================About===============================*/
  .about{
    background-color: $dark-purple;
    color:  $dark-purple;
    width: 100%;
  }
  .photo {
    background-image: $photo;
    background-position: center;
    background-size: cover;
    background-color:$letter;
    border-radius: 1em;
    width: 60vh;
    height: 60vh;
    margin : 5%;
  }
  
  .text-about{
    color: $letter;
    width: 80vh;
    height: 80vh;
    margin: 3%;
  }
  .cont-about{
    font-size: 1.5em;
    font-weight: 20;
    text-align: justify;
    margin: 20% 30px;
  }
  
  
  .title-about h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 80px;
    text-align: center;
    margin: 20px 30px;
  }
  
   /*========================Skills========================*/
   
   .skills{
    background-image :$imgSkill;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: flex;
  }
  .img-skill{
    margin: 2%;
    text-align: center;
    .div-img{
      margin: 2%;
      font-size: 150px;
      
      i{
      color: $color-logos;
      }
    }
  }
  i:hover{
    color: none;
  }
  
  
  /*==============================Projects===============================*/
   .projects{
    background-color: $dark-purple;
    color: $letter;
    width: 100%;
    height: 100vh;
   }
   
   img-project{
    margin: 5%;
    text-align: center;
    .div-img-pro{
      margin-top: auto;
    }
  }

  #app{
    width: 30%;
    z-index: 1000;
    margin: auto;
    padding: 4px;
  }
 #web{
    width: 80%;
    z-index: 1000;
    margin: auto;
    padding: 10px;
  }
   
  
  
   /*==============================Contact===============================*/
   .contact{
    background-image:$imgContact ;
    background-size: cover; 
    background-color: $cover;
    color: $color-logos;
    width: 100%;
    height: 100vh;
   }
